body {
    background-color: #f0f0f0; 
  font-family: Arial, sans-serif;
  display: flex;             
  flex-direction: column; /* empilha elementos verticalmente */
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
}

input, button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}
